.contact{
    margin-top: 50px;
}
.contact-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.carde-cont{
    text-align: center;
    box-shadow: 0 1px 1px gray;
    padding: 50px;
    transition: all .2s ease-in-out;
}
.carde-cont:hover{
    transform: scale(1.1);
}
.carde-cont i{
    color: var(--color);
    font-size: 70px;
}
.carde-cont .tyle{
    color:var(--color);
    text-transform: capitalize;
    margin: 10px 0;
}
.carde-cont .num{
    color: gray;
}