.h1-seo{
    width: fit-content;
    color: var(--color);
    margin: 10px auto 30px;
}
.Servicesw{
    margin: 40px 0;
}
.ser-rwo{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 5px;
}
.greden{
    text-align: center;
    padding: 40px;
    box-shadow: 0 1px 1px gray;
    transition: all .2s ease-in-out;
}
.greden:hover{
    transform: scale(.9);
}
.greden i{
  font-size: 70px;
  display: inline-block;
  margin: 0 auto 20px;
  color: var(--color);
}
.greden .til{
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--color);
}
.greden .pro-my{
  color: gray;
  line-height: 25px;
}