@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=PT+Sans&family=Roboto:wght@100;300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Luxurious Roman', cursive;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}


/* rgb(162, 0, 255) */
:root {
  --color: rgb(92, 7, 141);
}

.container {
  width: 80%;
  margin: auto;
  position: relative;
}